

/*.buttonStyle0{*/
/*    -fx-background-color:#00BFFF;*/
/*    -fx-border-color: black;*/
/*    -fx-font-size: 15px;*/
/*}*/

.buttonStyle0:hover{
    -fx-background-color:#53a4f0;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}
/*.buttonStyle0:focused{*/
/*    -fx-background-color:#95CACA;*/
/*}*/

.buttonStyle1{
    -fx-background-color:#00BFFF;
    -fx-font-weight: bold;
}

.buttonStyle1:hover{
    -fx-background-color:#53a4f0;
    -fx-effect: innershadow(gaussian, #666666, 5, 0.5, 2, 2)

}

/*.titled-pane-rftest-0 > .title {*/
/*    -fx-text-fill: #336699; !* Set title text color 不生效*!*/
/*    -fx-font-size: 14px; !* Set title font size *!*/
/*    -fx-font-weight: bold; !* Set title font weight *!*/
/*}*/

/* Modify TitledPane content background */
.titled-pane-rftest-0 > .content {
    -fx-background-color: #E6E6FA   ; /* Set content background color */
}

.titled-pane-rftest-1 > .content {
    -fx-background-color: #E6E6FA   ; /* Set content background color */
}

.titled-pane-rftest-2 > .content {
    -fx-background-color: #E6E6FA   ; /* Set content background color */
}

/* Add border to TitledPane */
/*.titled-pane0 {*/
/*    -fx-border-color: #336699; !* Set border color *!*/
/*    -fx-border-width: 2px; !* Set border width *!*/
/*    -fx-border-radius: 5px; !* Set border radius *!*/
/*}*/



